*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
h6{
    font-size: 16px;
    font-weight: bold;
}
header{
    background-color: #CD1818;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.header__right, .header__left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.header__left img{
    height: 50px;
    width: auto;
}
.search{
    height: 44px;
    width: auto;
    margin-left: 20px;
    display: flex;
}
.search input{
    height: 100%;
    width: 50vh;
    padding-left: 10px;
}
.search i{
    background-color: black;
    color: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__right a{
    margin-left: 20px;
    color: #fff;
}
.menu{
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    text-align: center;
    padding: 0 10px;
}
.menu a{
    display: flex;
    font-size: 16px;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    transition: all 0.3s ease;
}
.menu a p{
    margin-left: 10px;
}
.menu a:hover{
    background-color: #ff3399;
    color: rgb(127, 127, 127);
}
.nav{
    position: relative;
}
.nav__con{
    position: absolute;
    top: 36px;
    left: 0;
    border: 1px solid #eee;
    width: 460px;
    height: auto;
    text-align: justify;
    padding: 10px 20px;
    color:black;
    display: none;
    background-color: #fff;
}
.nav:hover .nav__con{
    display: block;
}
.nav__con > div{
    display: flex;
    margin-top: 10px;
}
.nav__con img{
    height: 50px;
    width: auto;
}
.content{
    height: calc(100vh - 36px - 56px);
    background-color: #fff;
}
.content__top{
    margin-top: 3px;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab{
    background-color: rgb(255, 221, 0);
    height: 100%;
    padding-left: 10px;
    padding-right: 40px;
    position: relative;
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.tab--vien{
    height: 16px;
    width: 16px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.content__top__right{
    display: flex;
}
.content__top__right li a{
    color: black;
    padding-left: 20px;
}
.content__bottom{
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
}
.content__bottom__left{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    border: 1px solid #eee;
}
.content__bottom__left div{
    width: 40%;
    height: 160px;
    text-align: center;
    overflow: hidden;
}
.content__bottom__left div > img{
    width: 55px;
    height: auto;
    margin: 10px;
}
.content__bottom__right{
    width: 80%;
    height: 100%;
    display: flex;
}
.item{
    width: 25%;
    height: 100%;
    border: 1px solid #eee;
}
.info{
    width: 100%;
    padding: 4px;
    height: 80%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}
.info > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.info div > img{
    width: 90%;
    height: auto;
}
.info > p,
.price{
    padding: 0 6px;
}
.price{
    padding: 6px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    font-size: 14px;
    width: 34px;
    height: 24px;
    border-radius: 5px;
    position: absolute;
    right: 36px;
    top: 6px;
}
.price > i{
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price p{
    margin-bottom: 8px;
}
.la i{
    padding: 3px 10px;
    margin: 0;
    clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
    background-color: #fff;
    color:#CD1818;
}