*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-r1, .item-r2, .item-r3, .item-r4, .item-r5, .item-r6, .item-r7,
.item1, .item2, .main, .left-below-right{
    border: #C9C9C9 solid 7px;
}
header, footer{
    border-left: #C9C9C9 solid 14px;
    border-right: #C9C9C9 solid 14px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #C9C9C9;
}
header{
    height: 5%;
    background-color: #FFBFCB;
}
#content{
    height: 90%;
    width: 100%;
    display: flex;
    border: #C9C9C9 solid 7px;
}
.left{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.right{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.main{
    height: 50%;
    width: 100%;
    background-color: #4CEBA9;
}
.left-below-left{
    width: 50%;
    height: 50%;
}
.item1{
    background-color: #FE0002;
    width: 100%;
    height: 40%;
}
.item2{
    background-color: #FE6D00;
    width: 100%;
    height: 60%;
}
.left-below-right{
    background-color: #F000FF;
    width: 50%;
    height: 50%;
}
.center{
    height: 44%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item-r1{
    background-color: #F000FF;
    width: 80%;
    height: 24%;
}
.item-r2{
    background-color: #2F8B58;
    width: 20%;
    height: 24%;
}
.item-r3{
    background-color: #FFFF01;
    height: 16%;
    width: 100%;
}
.item-r4{
    background-color: #008083;
    width: 100%;
    height: 100%;
}
.item-r5{
    background-color: #FF8380;
    width: 100%;
    height: 100%;
}
.item-r6{
    background-color: #008083;
    width: 100%;
    height: 100%;
}
.item-r7{
    background-color: #CB9D62;
    height: 16%;
    width: 100%;
}
footer{
    height: 5%;
    background-color: #0E0E0E;
    border-bottom: 0;
}