*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg, #5656ff, #9ea5ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.content{
    width: 70%;
    height: 80%;
    background-color: #F5F2F7;
    padding: 0 60px;
    position: relative;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.8);
    overflow: hidden;
}
.top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    color: #5E5ED7;
}
.icon hr{
    color: #6060d8;
    height: 10px;
    margin-top: 2px;
    border-radius: 0px 0px 5px 5px;
    background-color: #6060d8;
}
.icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height:40px;
    background-color: #454545;
    color: #5E5ED7;;
    font-size: 29px;
    
}
.icon i{
    border: #464646 solid 10px 20px;
}
.menu{
    display: flex;
    width: 70%;
    height: 50px;
    background: linear-gradient(90deg, #5656ff, #9ea5ff);
    border-radius: 30px 0px 0 30px;
    position: absolute;
    right: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}
.item{
    position: relative;
    display: block;
    padding: 20px;
    width: auto;
}
.item::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 0;
    background-color: #fff;
    top: 0;
    left:0;
    transition: all 0.4s ease;
    border-radius: 5px;
}
.item:hover::after{
    width: 100%;
}
.menu div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
}
input{
    border: none;
    width: 80%;
    height: auto;
}
.bottom{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left div{
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: 60px;
}
.left > p{
    width: 80%;
}
.left{
    width: 50%;
    height: 100%;
    color: #b2b0b3;
}
.right{
    width: 40%;
    height: 100%;
}
button{
    border: 0;
    margin-top: 20px;
    width: 31%;
    height: 34px;
    border-radius: 38px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #5656ff, #9ea5ff);
    box-shadow: 0 1px 6px 0 #656565;
    transition: all 0.4s ease-in-out;
}
button:hover{
    transform: translateY(-10px);
}
.b1{
    border: #6666ff solid 2px;
    background: #F5F2F7;
    color:#b2b0b3;
    margin-left: 20px;
}
.socail{
    display: flex;
    margin-top: 80px;
    position: absolute;
    bottom: 30px;
}
.socail > i{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 18px;
    border: #5E5ED7 solid 1px;
    color: #5E5ED7;
    font-size: 12px;
    margin-right: 10px;
}
.socail > i:hover{
    background-color: #5E5ED7;
    color: #fff;
}
.tamgiac{
    clip-path: polygon(20% 1%, 1% 88%, 100% 57%);
}
img{
    height: 100%;
    width: auto;
    transform:translateX(-30%);
}
.chat{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #5E5ED7;
    color: #fff;
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}
.chat:hover{
    transform: translateY(-10px);
    transform: rotate(30deg);
    transform: scale(1.2,1.2);
}
.dots{
    position: absolute;
    right: 10px;
    top: 45%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #9ea5ff;
    transition: all 0.2s ease-in-out;
}
.dot:hover{
    transform: scale(1.4, 1.4);
    background-color: #5E5ED7;
}