h2{
    background-color: green;
}
header img{
    width: 50%;
    height: auto;
}
.div1 h2{
    background-color: pink;
    color: white;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td, th{
    height: 40px;
}
#div2 h2{
    background-color: aqua;
    color: blue;
}
