h2{
    background-color: green;
}
header img{
    width: 50%;
    height: auto;
}
.div1 h2{
    background-color: pink;
    color: white;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat:round;
}
td, th{
    height: 40px;
}
#div2 h2{
    background-color: aqua;
    color: blue;
}
